flask>=2.0.2,<2.1
werkzeug>=2.0.3,<2.1
langchain>=0.1.11
langchain-community>=0.0.26
langchain-core>=0.1.28
pydantic>=2.6.3
langchain-ollama
langchain-aws
pymed
scholarly
wikipedia
duckduckgo-search
PyPDF2
Pillow
google-cloud-vision
boto3
faiss-cpu
transformers
sentence-transformers
langchain-huggingface